/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Задала странице размеры, шрифт, фоновый градиент, использовала грид для лейаута */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 696px;
  font-family: var(--accent-font), sans-serif;
  display: grid;
  justify-self: center;

  grid-template-columns: 1fr;

  background-color: #d3d3d3;

  /*background-image: url(../images/background.png);*/
  background-image: var(--bg-image);

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-dark, #000);
}

/* Для шапки использовла флекс, также задала размеры, фон, отступы, границу */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 100px;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--button-color-dark, #000);
  gap: 1vi;
  min-block-size: 368px;
  inline-size: 100%;
}

/* Заголовку и подзаголовку сделала резиновый шрифт и центрировала */

.header__title {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  text-align: center;
}

.header__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
}

/* Для блока с контентом задала шрифты и отступы */

.content {
  font-family: var(--main-font, sans-serif);
  justify-self: center;
  inline-size: 100%;
  margin-block-end: 105px;
}

/* Для карточки задала фон, рамку */

.article {
  border: 2px solid var(--button-color-dark, #000);
  background-color: var(--background-color, #fff);
}

/* Отступ между карточками */

.list-item {
  padding-block-end: 51px;
}

/* Шрифт, размеры, рамка и отступы для заголовка карточки */

.article__title {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-variation-settings: "wght" var(--font-weight-L, 700);
  padding-block: 6px;
  padding-inline: 1%;
  border-block-end: 1px solid var(--button-color-dark, #000);
}

/* Рамка для контейнера с картинкой и лейблом, а также позиционирование */

.container__label {
  position: relative;
  border-block-end: 2px solid var(--button-color-dark, #000);
}

/* Лейбл спозиционирован абсолютно, также ему задана тень */

.label {
  position: absolute;
  top: 23px;
  right: 23px;
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-shadow: 1px 1px 0px var(--text-stroke-color, #fff),
    -1px 1px 0px var(--text-stroke-color, #fff),
    1px -1px 0px var(--text-stroke-color, #fff),
    -1px -1px 0px var(--text-stroke-color, #fff);

  background-color: transparent;

  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

/* Директива для проверки поддержки text-stroke */

@supports ((text-stroke: 1px var(--text-stroke-color, #fff)) or (-webkit-text-stroke: 1px var(--text-stroke-color, #fff))) {
  .label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

/* Задала картинке размеры и положение */

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Фильтры для картинок */

.image-brightness-contrast-high {
  filter: brightness(1) contrast(1.2);
}

.image-brightness-contrast-low {
  filter: brightness(0.5) contrast(0.8);
}

.image-saturate {
  filter: saturate(1.9) brightness(1.5) contrast(1.7);
}

.image-sepia-brightnes-contrast {
  filter: brightness(1.6) contrast(1.2) sepia(0.5);
}

.image-invert {
  filter: invert(0.9) contrast(0.8);
}

.image-sepia {
  filter: sepia(1);
}

.image-blur {
  filter: blur(0.8rem);
}

.image-hue-rotate {
  filter: hue-rotate(80deg) blur(0.1rem) contrast(0.8);
}

/* Для описания карточки задала отступы, размер шрифта */

.article__description {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding: 28px 23px 0;
  font-variation-settings: "wght" var(--font-weight-main, 400);
}

/* Для списка кнопок использовала флекс и добавила отступы */

.container__button {
  display: flex;
  justify-content: end;
  margin-inline-end: 1.2vi;
  padding-block: 22px;
  gap: 5px;
}

/* Для кнопки лайк задала размер и отступы */

.card__like-button {
  display: block;
  min-inline-size: 129px;
  padding-inline: 1.2rem;
  padding-block: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

/* Для текста внутри кнопки задала свойство для плавной смены цвета текста */

.button__text {
  mix-blend-mode: difference;
  color: var(--text-light, #fff);
}

/* Для кнопки задала фон, рамку, шрифт и позиционирование */

.button {
  position: relative;
  background-color: var(--button-color-light, #fff);
  border: 2px solid var(--button-color-dark, #000);
  transition: box-shadow 0.5s ease-in-out;
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-variation-settings: "wght" var(--font-weight-main, 400);
}

/* Состояние focus-visible для кнопок */

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--button-color-dark, #000);
}

/* Реализация смены цвета при клике с помощью псевдоэлемента */

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-color-dark, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.button:hover::before {
  transform: scaleX(1);
}

/* Для кнопки сохранить использовала флекс и задала отступы */

.button-save {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem 1rem;
}

/* Для иконки задала размеры и свойство для смены цвета */

.image-save {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  fill: var(--text-light, #fff);
}

/* Размеры иконки в модальном окне */

dialog[open] .image-save {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

/* Лейаут модального окна через гриды, задала отступы, шрифт */

dialog[open] {
  display: grid;
  grid-template-columns: 3rem 14rem;
  grid-template-rows: 4rem min-content;
  padding: 1.5vi;
  gap: 19px;
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

/* Затемнение фона в режиме модального окна */

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Для кнопки ок задала номер ячейки и отсутпы */

.button-close {
  grid-column: 1 / 3;
  background-color: transparent;
  padding-block: 10px;
  text-transform: uppercase;
  inline-size: 100%;
}

/* Свойства для экранов 375px */

@media (width <=375px) {
  .header {
    min-block-size: 327px;
    gap: 20px;
  }

  .label {
    right: 10px;
  }

  .article__title {
    padding-inline: 2%;
  }

  .article__description {
    padding: 25px 25px 0;
  }

  .container__button {
    padding-block: 23px;
    margin-inline-end: 25px;
  }

  .button-save {
    flex-direction: column;
    gap: 7px;
  }

  .image-save {
    width: 28px;
    height: 28px;
  }
}